@page "/"

<FastFlex Fill="true" VerticalAlign="FlexAlignMode.Center" Wrap="false" Gap="GapMode.Large" Debug="true">
    <span>Hello</span>
    <FastFlexItem Push="true">
        <span>World!</span>
    </FastFlexItem>
</FastFlex>

<br />
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
